.stopwatch {
  display: flex;
  padding: 10px;
  width: auto;
  height: auto;
  left: 350px;
  flex-direction: column;

}

.numbers {
  display: flex;
  color: #176b87;
  font-size: 90px;
}

.buttons {
  position: relative;
  /* left: 195px;
  top: 20px; */
}

.buttons button {
  color: #176b87;
  background-color: #b4d4ff;
  margin-right: 5px;
  border-radius: 50%;
  border: 2px solid #176b87;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}

.buttons button:hover {
  background-color: #176b87;
  color: #b4d4ff;
}
