.content {
  display: relative;
  flex-direction: row;
  align-items: center;
  gap: 65px;
}

.column {
  display: flex;
  flex-direction: column;
}
.progress{
  position: absolute;
  top: 550px;
  left: 530px;
  width: 350px;
}

.find {
  display: flex;
  flex-direction: column;
}

.friends {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* gap: 65px; */
    position: absolute;
    bottom: 80px;
    left: 650px;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.content img {
    width: 500px;
    position: absolute;
    left: 20%;
    bottom: 30%;
}