.stopwatch{
	position: absolute;
	padding: 10px;
	width: auto;
	height: auto;
	left: 350px;
}

.numbers{
	position: relative;
	color: #176B87;
	width: 130px;
	height: 130px;
	font-size: 130px;
}

.buttons{
	position: relative;
	left: 195px;
	top: 20px;
}

.buttons button {
	color: #176B87;
	background-color: #B4D4FF;
	margin-right: 5px;
	border-radius: 50%;
	border: 2px solid #176B87;
	padding: 20px;
	font-weight: bold;
	text-align: center;
  }

  .buttons button:hover {
	background-color: #176B87; 
	color: #B4D4FF; 
  }


