.text {
    color: #176B87;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.16px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 70px;
    margin-top: 40px;
}

.title {
    color: #176B87;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 65px;
}

.list {
    display: flex;
    flex-direction: row;
    padding: 100px;
    gap: 50px;
}
