.card {
    width: 230px;
    /* height: 200px; */
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 24px 0px rgba(199, 199, 199, 0.32);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* height: 100%; Ensure the container takes up the full height */
    height: 40vh;
}

.name {
    color: #393939;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    padding-top: 10px;
}

.percentage {
    color: #393939;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}